.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 2rem;
    background: #041E23;
    border: 1px solid #0E464F;
    border-radius: 40px;
    width: 100%;
    max-width: 43.75rem;
    color: white;
    margin: auto;
}

.form .show_header {
    width: 100%;
    display: flex;
}

.form .show_second_header {
    display: none;
}

.form_fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1.5rem;
    gap: 2rem;
    background: #08252B;
    border: 1px solid #0E464F;
    border-radius: 32px;
}

.form_fieldset .form_heading_info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    gap: 0.5rem;
    background: radial-gradient(103.64% 57.39% at 14.02% 32.06%, rgba(36, 160, 181, 0.2) 0%, rgba(36, 160, 181, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(10, 12, 17, 0.1);
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #07373F;
    backdrop-filter: blur(7px);
    border-radius: 24px;
}

.form_fieldset .form_heading_info_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.form_fieldset .form_heading_info_wrapper h1 {
    font-family: 'Road Rage';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 100%;
    text-align: center;
    color: var(--sec-text-color);
}

.form_fieldset .form_heading_info_wrapper p {
    font-family: var(--sec-font);
    font-weight: var(--pri-font-weight);
    font-size: var(--sec-font-size);
    line-height: 150%;
    text-align: center;
    color: var(--sec-text-color);
    padding: 0 1rem;
    margin: 0px 84px;
}

.form_fieldset .form_heading_info_date {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    gap: 1rem;
}

.form_fieldset .form_heading_info_date p {
    font-family: var(--sec-font);
    font-weight: var(--pri-font-weight);
    font-size: var(--sec-font-size);
    line-height: var(--sec-line-height);
    color: var(--sec-text-color);
    word-wrap: normal;
}

.form_fieldset .rule {
    width: 100%;
    height: 4px;
    background: #07373F;
}

.form_fieldset .form_fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.form_fieldset .form_fields label {
    font-family: var(--sec-font);
    font-weight: var(--pri-font-weight);
    font-size: var(--sec-font-size);
    line-height: var(--sec-line-height);
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.form_fieldset .form_fields #select_ticket {
    background: url(../../../assets/down_arrow_icon.png);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 94% center;
}

.form_fieldset .form_fields select {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75rem;
    gap: 0.5rem;
    background: transparent;
    border: 1px solid #07373F;
    border-radius: 12px;
    color: white;
}

.form_fieldset .form_fields option,
.form_fieldset .form_fields select {
    font-family: var(--sec-font);
    font-weight: var(--pri-font-weight);
    font-size: var(--sec-font-size);
    line-height: var(--sec-line-height);
}

.form_fieldset .form_fields option {
    color: black;
}

.form_fields .form_fields_wrapper {
    width: 100%;
    padding: 1rem;
    background: #052228;
    border: 1px solid #07373F;
    border-radius: 24px;
}

.form_fields .form_fields_input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 1.5rem;
}

.form_fields .custom_input_wrapper {
    width: 100%;
    max-width: 15.125rem;
    position: relative;
}

.form_fields .custom_input_wrapper:hover input ~ .custom_input_field {
    background: #197686;
}

.form_fields .custom_input_wrapper input:checked ~ .custom_input_field {
    background: #197686;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.form_fields_wrapper .custom_input_field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem;
    gap: 0.5rem;
    border: 1px solid #197686;
    border-radius: 12px;
}

.form_fields_wrapper .custom_input_field .ticket_type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.form_fields_wrapper .custom_input_field .ticket_type .text {
    font-family: var(--sec-font);
    font-weight: var(--pri-font-weight);    
    line-height: var(--sec-line-height);
}

.form_fields_wrapper .custom_input_field .ticket_type h2 {
    font-size: var(--sec-font-size);
}

.form_fields_wrapper .custom_input_field .ticket_type p {
    font-size: 14px;
}

.form_fields_wrapper .custom_input_field .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0.5rem;
    gap: 0.625rem;
    width: 5rem;
    background: #0E464F;
    border: 1px solid #2BA4B9;
    border-radius: 8px;
}

.form_fields_wrapper .custom_input_field .price {
    font-family: var(--sec-font);
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: #FAFAFA;
}

.form_fields_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    gap: 2rem;
    background: #041E23;
    border: 1px solid #0E464F;
    border-radius: 24px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .form_fieldset .form_heading_info_wrapper p {
        margin: 0rem;
    }
    .form_fields_buttons {
        background: transparent;
        gap: 1rem;
        border: none;
    }    
}

@media screen and (max-width: 480px) {
    .form {
        background: transparent;
        padding: 1.25rem;
        border: none;
        border-radius: 0px;
    }

    .form .show_header {
        display: none;
    }

    .form .show_second_header  {
        display: flex;
        width: 100%;
    }

    .form_fieldset .form_heading_info {
        gap: 2.5rem;
        padding: 1rem 1.28125rem;
    }

    .form_fieldset .form_heading_info_wrapper h1 {
        font-size: 3rem;
    }

    .form_fieldset .form_heading_info_wrapper p {
        font-size: 0.875rem;
        margin: 0;
        padding: 0 0.5rem;
    }

    .form_fieldset .form_heading_info_date {
        gap: 0.25rem;
    }
}